extends layout

block content
  p Hi,
  p We've received a request to reset the password for your KudosHealth account.
  p To do this, please click on the link below:
  p
    a(href=`${frontendUrl}/reset-password/${token.value}`) Reset your password
  p
    | Thanks,
    br
    | KudosHealth
    br
    a(href=frontendUrl)=frontendUrl
